<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Login OTP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        body {
          font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
        }
        a.link {
          border: solid 1px #000;
          background-color: #000;
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          display: block;
          width: 360px;
          text-align: center;
          padding: 10px 0;
        }
    </style>
</head>
<body>
<h1>Confirm your account</h1>
<div>Welcome to Convoment, <b th:text="${name}">name</b>!</div>
<p>
    Your OTP for secure login is below. Please use this to access your account safely:
    <br/><br/>
    Email address: <b th:text="${email}">email</b><br/>
    One-Time Password (OTP) for login: <b th:text="${otp}">123456</b><br/>
</p>
<p>
    <img src="images/5.jpeg" data-th-src="|cid:springLogo|" height="80" />
</p>
<p>
    Regards, <br />
    &emsp; <em>The Convoment Team</em>
</p>
</body>
</html>
